/* CWPP.css */

.dashboard {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  min-width: 300px;
}

.dashboard-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.graph {
  font-size: 50px;
  color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.dashboard-card-content {
  margin-top: 20px;
}

.add-widget-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-widget-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-widget-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-row {
    flex-direction: column;
  }

  .dashboard-card {
    min-width: 100%;
  }
}
